.row {
  display: flex;
  width: 45vw;
  height: auto;
  justify-content: space-around;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  margin-top: 15px;
}
