/* NavBar */

.navbar {
  height: 7.5vh;
  background-color: var(--bg);
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  color: white;
  flex-basis: 7.5%;
  height: 5vh;
  background-color: #484a4d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  height: 3vh;
  background-color: #484a4d;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* DropDown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  color: white;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background: #525357;
}

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translate translateX(-110%);
  transition: all var(--speed) ease;
}
