.grid-node {
    flex: 1 0;
    height: auto;
    border: 1px solid grey;
    border-radius: 2px; 
    margin: 1px 1px;
}

.grid-node:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}