.grid-node {
  flex: 1 0;
  height: auto;
  border: 1px solid #b2bbcf;
  border-radius: 1px;
  /* margin: 1px 1px; */
}

.grid-node:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* handle the walls */
.no-wall-left {
  border-left: 1px solid white;
}

.no-wall-right {
  border-right: 1px solid white;
}

.no-wall-top {
  border-top: 1px solid white;
}

.no-wall-bottom {
  border-bottom: 1px solid white;
}

/* visited nodes styles */

.visited-node:after {
  background: #02c39a;
  animation: visitedAnim 500ms ease-in;
}

@keyframes visitedAnim {
  0% {
    /* transform: scale(0.3); */
    background: #f0f3bd;
  }

  50% {
    /* transform: scale(1.2); */
    background: #028090;
  }

  100% {
    /* transform: scale(1); */
    background: #02c39a;
  }
}

/* shortest path nodes */

.shortest-path-node:after {
  background: #bdb2ff;
  animation: shortestPathAnim 500ms ease-in;
}

@keyframes shortestPathAnim {
  0% {
    transform: scale(0.3);
    background: #bdb2ff;
  }

  50% {
    transform: scale(1.2);
    background: #bdb2ff;
  }

  100% {
    transform: scale(1);
    background: #bdb2ff;
  }
}

/* Wall Node */

.wall-node:after {
  background: black;
}
