.PathFindingVisualizer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.visualize-button {
  height: 7.5vh;
  flex: 1 0 25%;
  max-width: 50%;
  background-color: var(--bg-accent);
}
