.secondary-header {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.visualize-button {
  background-color: aliceblue;
  border: 3px solid black;
  border-radius: 6px;
  height: 7.5vh;
  flex: 1 0 25%;
  max-width: 25%;
}
